body{
    background-image: url(./ice-bear.jpg);
    background-position: 10% 35%;
    text-align: center;
}
h1{
    color: rgb(0, 255, 200);
}
p{
    color: chocolate;
    text-align: center;
}
a{
    text-decoration: none;
}